html, body {
    height: 100%;
    margin: 0;
}

.quotes-container {
  margin: 0;
  width: 100%;
  min-height: 100%;
  background-color: #343338;
  font-family: sans-serif;
  font-size: 2em;
  background: linear-gradient(-45deg, #000505, #0e402d, #295135, #5a6650);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.quotes-slider {
  text-align: center;
  position: relative;
}
.quotes-slider::before,
.quotes-slider::after {
  content: "";
  position: absolute;
  top: 37vh;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
}
.quotes-slider::before {
  -webkit-animation: slide 8s infinite -0.8s,
    change-text 56s step-end infinite -2s;
  animation: slide 8s infinite -0.8s, change-text 56s step-end infinite -2s;
}
.quotes-slider::after {
  -webkit-animation: slide 8s infinite -4.8s,
    change-text 56s step-end infinite -30s;
  animation: slide 8s infinite -4.8s, change-text 56s step-end infinite -30s;
}
@-webkit-keyframes change-text {
  0% {
    content: '"This is a quote by a very well known person" \A - RAZRLAB';
  }
  14.2857142857% {
    content: '"This is a quote by a very well known person" \A - RAZRLAB';
  }
  28.5714285714% {
    content: '"This is a quote by a very well known person" \A - RAZRLAB';
  }
  42.8571428571% {
    content: '"This is a quote by a very well known person" \A - RAZRLAB';
  }
  57.1428571429% {
    content: '"This is a quote by a very well known person" \A - RAZRLAB';
  }
  71.4285714286% {
    content: '"This is a quote by a very well known person" \A - RAZRLAB';
  }
  85.7142857143% {
    content: '"This is a quote by a very well known person" \A - RAZRLAB';
  }
}
@keyframes change-text {
  0% {
    content: '"This is a quote by a very well known person" \A - RAZRLAB';
  }
  14.2857142857% {
    content: '"This is a quote by a very well known person" \A - RAZRLAB';
  }
  28.5714285714% {
    content: '"This is a quote by a very well known person" \A - RAZRLAB';
  }
  42.8571428571% {
    content: '"This is a quote by a very well known person" \A - RAZRLAB';
  }
  57.1428571429% {
    content: '"This is a quote by a very well known person" \A - RAZRLAB';
  }
  71.4285714286% {
    content: '"This is a quote by a very well known person" \A - RAZRLAB';
  }
  85.7142857143% {
    content: '"This is a quote by a very well known person" \A - RAZRLAB';
  }
}
@-webkit-keyframes slide {
  0%,
  100% {
    left: -100px;
    opacity: 0;
  }
  10%,
  50% {
    left: 0;
    opacity: 1;
  }
  60% {
    left: 100px;
    opacity: 0;
  }
}
@keyframes slide {
  0%,
  100% {
    left: -100px;
    opacity: 0;
  }
  10%,
  50% {
    left: 0;
    opacity: 1;
  }
  60% {
    left: 100px;
    opacity: 0;
  }
}

.hidden{
    display: none;
}
