@font-face {
  font-family: DubaiFont;
  src: url(./fonts/webfonts/DubaiW23-Regular.woff);
}

html,
body {
  height: 100%;
  margin: 0;
}

.quotes-container {
  margin: 0;
  width: 100%;
  min-height: 100%;
  background-color: #343338;
  /* font-family: DubaiFont, sans-serif; */
  font-family: "Cairo", sans-serif;
  font-size: 2em;
  background: linear-gradient(-45deg, #000505, #0e402d, #295135, #5a6650);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.quotes-slider {
  text-align: center;
  position: relative;
}
.quotes-slider::before,
.quotes-slider::after {
  content: "";
  position: absolute;
  top: 37vh;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
}
.quotes-slider::before {
  -webkit-animation: slide 8s infinite -0.8s,
    change-text 56s step-end infinite -2s;
  animation: slide 8s infinite -0.8s, change-text 56s step-end infinite -2s;
}
.quotes-slider::after {
  -webkit-animation: slide 8s infinite -4.8s,
    change-text 56s step-end infinite -30s;
  animation: slide 8s infinite -4.8s, change-text 56s step-end infinite -30s;
}
@-webkit-keyframes change-text {
  0% {
    content: "“It’s not my fault.” – Han Solo";
  }
  14.2857142857% {
    content: "“Your focus determines your reality.” – Qui-Gon Jinn";
  }
  28.5714285714% {
    content: "“Do. Or do not. There is no try.” – Yoda";
  }
  42.8571428571% {
    content: "“Somebody has to save our skins.” – Leia Organa";
  }
  57.1428571429% {
    content: "“In my experience there is no such thing as luck.” – Obi-Wan Kenobi";
  }
  71.4285714286% {
    content: "“I find your lack of faith disturbing.” – Darth Vader";
  }
  85.7142857143% {
    content: "“It’s a trap!” – Admiral Ackbar";
  }
}
@keyframes change-text {
  0% {
    content: "“.لا، انا ابوك” – Darth Vader";
  }
  14.2857142857% {
    content: "“Your eyes can deceive you. Don’t trust them.” – Obi-Wan Kenobi";
  }
  28.5714285714% {
    content: "“دبي” – Padmé Amidala";
  }
  42.8571428571% {
    content: "“Mind tricks don’t work on me.” – Watto";
  }
  57.1428571429% {
    content: "“Great, kid. Don’t get cocky.” – Han Solo";
  }
  71.4285714286% {
    content: "“Stay on target.” – Gold Five";
  }
  85.7142857143% {
    content: "“This is a new day, a new beginning.” – Ahsoka Tano";
  }
}
@-webkit-keyframes slide {
  0%,
  100% {
    left: -100px;
    opacity: 0;
  }
  10%,
  50% {
    left: 0;
    opacity: 1;
  }
  60% {
    left: 100px;
    opacity: 0;
  }
}
@keyframes slide {
  0%,
  100% {
    left: -100px;
    opacity: 0;
  }
  10%,
  50% {
    left: 0;
    opacity: 1;
  }
  60% {
    left: 100px;
    opacity: 0;
  }
}

.hidden {
  display: none;
}
